body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}
#training-guide-sideNav {
    border-right: 1px solid #D8D8D8;
    background-color: #FAFAFA;
    height: 100vh;
}
#training-guide-sideNav a {
    text-decoration: none;
    color: #282c34;
    display: block;
    margin: 15px auto;
    background-color: #FAFAFA;
}

#training-guide-sideNav a:hover {
    color: #FAFAFA;
    background-color: #282c34;
}

#training-guide-main {
    height: 100vh;
    overflow-y: scroll;
    border-right: 1px solid #D8D8D8;
    background-color: #FAFAFA;
}